@charset "UTF-8";
@font-face {
  font-family: "Gilroy";
  src: url("../FONTS/Gilroy/Gilroy-Regular.eot");
  font-weight: normal; }

@font-face {
  font-family: "Gilroy";
  src: url("../FONTS/Gilroy/Gilroy-Bold.eot");
  font-weight: bold; }

html {
  height: 100%; }

.wrapper {
  max-width: 100%;
  overflow: hidden; }

body {
  height: 100%;
  width: 100%;
  font: 16px/20px 'Gilroy', sans-serif;
  color: #242424;
  line-height: 1.2; }

ol, ul {
  list-style: none; }

* {
  line-height: 1;
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  height: auto;
  max-width: 100%; }

a {
  text-decoration: none !important; }

input, button {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

.center {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto; }

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .top_bg {
    background: #fff; }
  .top_col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .top_select {
    font-size: 13px;
    margin-right: 20px;
    color: #737373;
    background: #f6f7f9 url(../image/top_arrow.png) no-repeat right 13px center;
    border: 0;
    -webkit-appearance: none;
    padding: 7px 45px 7px 18px; }
  .top_date {
    font-size: 12px;
    color: #242424;
    margin-right: 20px; }
  .top_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .top_nav-link {
      margin: 10px 12px;
      font-size: 12px;
      color: #242424;
      font-weight: 500; }
  .top_auth {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding: 18px 36px 19px 50px;
    background: #2fba0a url(../image/login.png) no-repeat left 18px center;
    border-radius: 15px;
    margin-right: 20px;
    -webkit-box-shadow: 0 0 10px rgba(47, 186, 10, 0.5);
    box-shadow: 0 0 10px rgba(47, 186, 10, 0.5); }
    .top_auth:hover {
      -webkit-box-shadow: none;
      box-shadow: none; }
  .top_lang {
    background: url(../image/lang_arrow.png) no-repeat right center;
    padding-right: 10px; }
    .top_lang-ru {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .top_lang-img {
      margin-right: 7px; }
    .top_lang-text {
      font-size: 12px;
      font-weight: bold; }

.panel {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .panel_bg {
    background: #f6f7f9; }
  .panel_logo {
    margin-right: 25px;
    width: 230px; }
  .panel_form {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 25px; }
    .panel_form-text {
      width: 300px;
      height: 50px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border: 1px solid #f2f2f2;
      border-radius: 15px 0 0 15px;
      background: #fff url(../image/search.png) no-repeat left 12px center;
      padding: 10px 50px;
      font-size: 13px;
      color: #737373; }
    .panel_form-category {
      width: 150px;
      height: 50px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border: 1px solid #f2f2f2;
      background: #fff url(../image/lang_arrow.png) no-repeat right 15px center;
      -webkit-appearance: none;
      font-size: 13px;
      color: #737373;
      padding: 15px 18px; }
    .panel_form-button {
      font-size: 13px;
      font-weight: bold;
      color: #fff;
      padding: 15px 30px;
      height: 50px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background: #2eb709;
      border-radius: 0 15px 15px 0;
      border: 0; }
  .panel_button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 25px; }
    .panel_button-block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      background: #fff;
      border-radius: 50%;
      margin-right: 10px;
      position: relative; }
    .panel_button-count {
      position: absolute;
      top: -10px;
      right: -10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #db1818;
      font-size: 14px;
      color: #fff;
      font-weight: bold; }
  .panel_money-title {
    font-size: 13px;
    color: #db1818;
    margin-bottom: 8px; }
  .panel_money-word {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .panel_money-text {
    font-size: 20px;
    font-weight: bold;
    color: #242424;
    margin-right: 5px; }
  .panel_money-val {
    font-size: 18px;
    color: #242424; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px; }
  .menu_bg {
    background: #242424; }
  .menu_cat {
    height: 60px;
    position: relative; }
    .menu_cat_nav {
      display: none;
      position: absolute;
      top: 60px;
      width: 260px;
      z-index: 100000; }
      .menu_cat_nav-li {
        position: relative; }
      .menu_cat_nav-link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background: #fff url(../image/menu_arrow.png) no-repeat right 10px center;
        padding: 14px;
        font-size: 13px;
        font-weight: bold;
        color: #242424; }
        .menu_cat_nav-link:hover {
          background: #f6f7f9 url(../image/menu_arrow.png) no-repeat right 10px center; }
      .menu_cat_nav-img {
        margin-right: 15px;
        width: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
    .menu_cat_nav2 {
      position: absolute;
      top: 0;
      left: 100%;
      width: 240px; }
      .menu_cat_nav2-link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background: #fff;
        padding: 14px;
        font-size: 13px;
        color: #242424; }
        .menu_cat_nav2-link:hover {
          background: #f6f7f9; }
      .menu_cat_nav2-text {
        margin-left: 3px;
        color: #db1818; }
    .menu_cat-title {
      cursor: pointer;
      height: 60px;
      width: 260px;
      padding: 24px 40px 24px 60px;
      background: #37b017 url(../image/menu.png) no-repeat left 15px center;
      color: #fff;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: bold;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
  .menu_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .menu_nav-link {
      color: #fff;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 500;
      padding: 22px 15px; }
      .menu_nav-link:hover {
        background: #3b3b3b; }
  .menu_call {
    margin-left: auto;
    background: #fff;
    padding: 14px 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: right; }
    .menu_call-title {
      font-size: 13px;
      color: #37b017;
      margin-bottom: 5px;
      font-weight: bold; }
    .menu_call-number {
      font-size: 18px;
      color: #242424; }
      .menu_call-number-2 {
        font-size: 20px;
        color: #242424;
        font-weight: bold; }

.slide {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .slide_slider {
    width: 62% !important; }
    .slide_slider-img {
      height: 374px; }

.slide .slide_slider .owl-nav.disabled + .owl-dots {
  position: absolute !important;
  right: 50% !important;
  margin-right: -36px !important;
  bottom: 15px !important; }

.slide .slide_slider .owl-dots .owl-dot.active span, .slide_slider .owl-theme .owl-dots .owl-dot:hover span {
  background: #fff !important; }

.slide .slide_slider .owl-dots .owl-dot span {
  background: none !important;
  border: 1px solid #fff !important; }

.product {
  padding: 20px;
  padding-top: 0;
  padding-left: 0;
  border: 1px solid #f1f1f1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 36%;
  margin-left: 2%; }
  .product_2 {
    width: 32.3%;
    margin: 0 1%; }
  .product_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: 15px;
    right: 15px; }
    .product_item-block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: #f6f7f9;
      margin: 5px; }
  .product_col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .product_day {
    position: relative;
    padding: 10px 25px;
    font-size: 16px;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #db1818; }
    .product_day::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 1000;
      top: 0;
      right: -27px;
      border-left: 27px solid #db1818;
      border-top: 0px solid transparent;
      border-bottom: 36px solid transparent; }
  .product_date {
    position: relative;
    padding: 10px 25px;
    padding-left: 40px;
    font-size: 16px;
    color: #242424;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #f4f4f4;
    font-weight: bold; }
    .product_date::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: -27px;
      border-left: 27px solid #f4f4f4;
      border-top: 0px solid transparent;
      border-bottom: 36px solid transparent; }
  .product_img {
    padding: 20px;
    margin-top: 15px; }
  .product_article {
    margin-top: 70px; }
    .product_article-title {
      font-size: 14px;
      color: #242424;
      font-weight: bold;
      margin-bottom: 20px;
      line-height: 1.2; }
    .product_article-priceold {
      font-size: 12px;
      color: #db1818;
      margin-bottom: 10px;
      text-decoration: line-through; }
    .product_article-star {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 30px; }
    .product_article-otzvy {
      font-size: 12px;
      color: #737373;
      margin-left: 10px; }
    .product_article-stars {
      width: 105px;
      height: 15px;
      background: url(../image/star.png) repeat-x; }
      .product_article-stars-2 {
        width: 60px;
        height: 15px;
        background: url(../image/star_red.png) repeat-x; }
    .product_article-price {
      font-size: 20px;
      color: #242424;
      margin-bottom: 10px; }
    .product_article-text {
      font-size: 14px;
      color: #737373;
      line-height: 1.5;
      margin-bottom: 10px; }
    .product_article-button {
      width: 55px;
      height: 55px;
      padding: 12px;
      background: #f6f7f9 url(../image/product_shop.png) no-repeat center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      border-radius: 50%;
      margin-left: auto; }
      .product_article-button:hover {
        background: #27a805 url(../image/product_shop2.png) no-repeat center; }

.advantage_block:hover .advantage_block-img-1 {
  background: #23a002 url(../image/advantage_block-img1-hover.png) no-repeat top 65px center;
  -webkit-box-shadow: 0 0 15px rgba(35, 160, 2, 0.9);
  box-shadow: 0 0 15px rgba(35, 160, 2, 0.9); }

.advantage_block:hover .advantage_block-img-2 {
  background: #23a002 url(../image/advantage_block-img2-hover.png) no-repeat top 65px center;
  -webkit-box-shadow: 0 0 15px rgba(35, 160, 2, 0.9);
  box-shadow: 0 0 15px rgba(35, 160, 2, 0.9); }

.advantage_block:hover .advantage_block-img-3 {
  background: #23a002 url(../image/advantage_block-img3-hover.png) no-repeat top 65px center;
  -webkit-box-shadow: 0 0 15px rgba(35, 160, 2, 0.9);
  box-shadow: 0 0 15px rgba(35, 160, 2, 0.9); }

.advantage_block:hover .advantage_block-img-4 {
  background: #23a002 url(../image/advantage_block-img4-hover.png) no-repeat top 65px center;
  -webkit-box-shadow: 0 0 15px rgba(35, 160, 2, 0.9);
  box-shadow: 0 0 15px rgba(35, 160, 2, 0.9); }

.advantage_block:hover .advantage_block-img-5 {
  background: #23a002 url(../image/advantage_block-img5-hover.png) no-repeat top 65px center;
  -webkit-box-shadow: 0 0 15px rgba(35, 160, 2, 0.9);
  box-shadow: 0 0 15px rgba(35, 160, 2, 0.9); }

.advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -60px; }
  .advantage_bg {
    background: #2bb208;
    height: 140px;
    margin-top: 200px; }
  .advantage_block {
    width: 20%;
    background: #fff;
    padding: 20px;
    padding-top: 110px;
    margin-top: -110px;
    border: 1px solid #f1f1f1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    overflow: hidden; }
    .advantage_block:hover {
      background: #f3f3f3; }
    .advantage_block-img {
      position: absolute;
      top: -50px;
      left: -20px;
      margin-bottom: 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 150px;
      height: 150px;
      background: red;
      border-radius: 50%;
      display: flex;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .advantage_block-img-1 {
        background: url(../image/advantage_block-img1.png) no-repeat top 65px center; }
      .advantage_block-img-2 {
        background: url(../image/advantage_block-img2.png) no-repeat top 65px center; }
      .advantage_block-img-3 {
        background: url(../image/advantage_block-img3.png) no-repeat top 65px center; }
      .advantage_block-img-4 {
        background: url(../image/advantage_block-img4.png) no-repeat top 65px center; }
      .advantage_block-img-5 {
        background: url(../image/advantage_block-img5.png) no-repeat top 70px center; }
    .advantage_block-title {
      font-size: 16px;
      margin-bottom: 15px;
      color: #242424;
      font-weight: bold; }
    .advantage_block-text {
      font-size: 14px;
      color: #666666; }

.popular {
  margin-top: 40px;
  margin-bottom: 60px; }
  .popular_col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .popular_title {
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 32px;
    color: #242424;
    font-weight: bold; }
  .popular_img {
    margin-top: 4px;
    margin-left: 60px; }

.good {
  width: 25%;
  padding: 20px;
  border: 1px solid #f1f1f1;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff; }
  .good-2 {
    width: 100%; }
  .good-3 {
    background: #fff; }
  .good:hover {
    -webkit-box-shadow: 0 0 25px rgba(241, 241, 241, 0.5);
    box-shadow: 0 0 25px rgba(241, 241, 241, 0.5); }
  .good_star {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px; }
    .good_star-stars {
      width: 105px;
      height: 15px;
      background: url(../image/star.png) repeat-x; }
      .good_star-stars-2 {
        width: 60px;
        height: 15px;
        background: url(../image/star_red.png) repeat-x; }
    .good_star-otzvy {
      font-size: 14px;
      color: #737373;
      margin-left: 10px; }
  .good_new {
    display: inline-block;
    padding: 8px 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    color: #fff;
    background: #1d79d8;
    border-radius: 5px;
    min-height: 29px; }
    .good_new-2 {
      background: #f1661a; }
    .good_new-3 {
      background: #7d0ecb; }
  .good_img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 180px;
    min-height: 180px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 15px; }
  .good_title {
    font-size: 16px;
    font-weight: 600;
    color: #242424;
    line-height: 1.2;
    margin-bottom: 20px; }
  .good_price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-bottom: 5px; }
    .good_price-old {
      font-size: 12px;
      color: #db1818;
      text-decoration: line-through; }
    .good_price-sale {
      font-size: 14px;
      color: #db1818;
      font-weight: bold;
      margin-left: 20px; }
  .good_money {
    font-size: 20px;
    color: #242424;
    margin-bottom: 10px; }
  .good_text {
    font-size: 12px;
    color: #737373; }
  .good_buy {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #f6f7f9 url(../image/product_shop.png) no-repeat center; }
    .good_buy:hover {
      background: #27a805 url(../image/product_shop2.png) no-repeat center; }
  .good_col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.good_img img {
  height: 100%; }

.sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: -0.5%; }
  .sale_bg {
    padding: 60px 0;
    background: #f6f7f9; }
  .sale_block {
    width: 32%;
    max-height: 290px;
    overflow: hidden;
    margin: 0.5%; }

.newpro {
  margin-top: 60px;
  margin-bottom: 50px; }
  .newpro-2 {
    padding-top: 80px; }
  .newpro_bg {
    height: 260px;
    background: #2bb208;
    margin-bottom: 400px; }
  .newpro_col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .newpro_word {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .newpro_word-title {
      font-size: 32px;
      font-weight: 600;
      margin-right: 30px; }
      .newpro_word-title-2 {
        color: #fff; }
  .newpro_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: -5px; }
    .newpro_nav-prew {
      width: 40px;
      height: 40px;
      margin: 0 5px;
      cursor: pointer;
      border-radius: 50%;
      background: #f6f7f9 url(../image/newpro_buttom-prew.png) no-repeat center; }
      .newpro_nav-prew:hover {
        background: #db1818 url(../image/newpro_buttom-next.png) no-repeat center;
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg); }
      .newpro_nav-prew-2 {
        width: 40px;
        height: 40px;
        margin: 0 5px;
        cursor: pointer;
        border-radius: 50%;
        background: #fff url(../image/newpro_buttom-prew.png) no-repeat center; }
        .newpro_nav-prew-2:hover {
          background: #db1818 url(../image/newpro_buttom-next.png) no-repeat center;
          -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
      .newpro_nav-prew-3 {
        background: #fff; }
    .newpro_nav-next {
      width: 40px;
      height: 40px;
      margin: 0 5px;
      cursor: pointer;
      border-radius: 50%;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
      background: #f6f7f9 url(../image/newpro_buttom-prew.png) no-repeat center; }
      .newpro_nav-next:hover {
        background: #db1818 url(../image/newpro_buttom-next.png) no-repeat center;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg); }
      .newpro_nav-next-2 {
        width: 40px;
        height: 40px;
        margin: 0 5px;
        cursor: pointer;
        border-radius: 50%;
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        background: #fff url(../image/newpro_buttom-prew.png) no-repeat center; }
        .newpro_nav-next-2:hover {
          background: #db1818 url(../image/newpro_buttom-next.png) no-repeat center;
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg); }
  .newpro_blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 30px;
    overflow: hidden; }

.owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.goodsale {
  margin-bottom: 50px; }
  .goodsale_col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .goodsale_title {
    font-size: 32px;
    font-weight: 600;
    margin-right: 30px; }
  .goodsale_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 -1%;
    margin-top: 40px; }

.customer {
  margin-top: 70px; }
  .customer_col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -1%; }
  .customer_title {
    font-size: 24px;
    color: #242424;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 50px; }
  .customer_article {
    position: relative;
    padding: 25px 70px;
    padding-right: 40px;
    background: #f6f6f6;
    color: #242424;
    width: 31.3%;
    margin: 1%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 15px;
    -webkit-box-shadow: 0 0 10px rgba(246, 246, 246, 0.9);
    box-shadow: 0 0 10px rgba(246, 246, 246, 0.9); }
    .customer_article:hover {
      color: #fff;
      background: #db1818; }
    .customer_article-2 {
      width: 48%; }
    .customer_article-number {
      position: absolute;
      left: -5px;
      top: -5px;
      width: 60px;
      height: 60px;
      font-size: 35px;
      font-weight: 600;
      color: #db1818;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background: #fff;
      border-radius: 50%; }
    .customer_article-title {
      font-size: 23px;
      margin-bottom: 15px;
      font-weight: 600; }
    .customer_article-text {
      font-size: 16px;
      line-height: 1.4; }

.brand {
  margin-top: 40px;
  margin-bottom: 40px; }
  .brand_bg {
    padding-top: 40px;
    padding-bottom: 75px;
    background: #d2e6ff; }
  .brand_col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .brand_title {
    font-size: 32px;
    font-weight: 600; }
  .brand_arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .brand_arrow-prew {
      cursor: pointer;
      width: 40px;
      height: 40px;
      margin: 0 5px;
      border-radius: 50%;
      background: #fff url(../image/brand_prew.png) no-repeat center; }
      .brand_arrow-prew:hover {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        background: #28ac06 url(../image/brand_next.png) no-repeat center; }
    .brand_arrow-next {
      cursor: pointer;
      width: 40px;
      height: 40px;
      margin: 0 5px;
      border-radius: 50%;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
      background: #fff url(../image/brand_prew.png) no-repeat center; }
      .brand_arrow-next:hover {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        background: #28ac06 url(../image/brand_next.png) no-repeat center; }
  .brand_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    margin-top: 30px; }
    .brand_block-article {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      height: 150px;
      background: #fff; }

.client {
  margin-top: 45px;
  margin-bottom: 45px; }
  .client_title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 30px; }
  .client_col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden; }
  .client_block {
    text-align: center; }
    .client_block-img {
      padding: 10px;
      -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
    .client_block-image {
      width: 100%;
      height: 100%; }
    .client_block-title {
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 600; }
    .client_block-text {
      font-size: 16px; }

.stock {
  margin-top: 50px;
  padding-top: 70px;
  padding-bottom: 100px; }
  .stock_bg {
    background: #2bb208 url(../image/stock_fon.png) no-repeat left top;
    background-size: contain; }
  .stock_title {
    font-size: 24px;
    color: #fff;
    margin-bottom: 30px; }
  .stock_col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: -2%; }
  .stock_block {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 31.3%;
    height: 230px;
    overflow: hidden;
    margin: 2%; }
    .stock_block::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3); }
    .stock_block-img {
      height: 100%;
      width: 100%; }
    .stock_block-date {
      position: absolute;
      top: 20px;
      left: 30px;
      font-size: 12px;
      color: #fff;
      z-index: 1000; }
    .stock_block-title {
      position: absolute;
      bottom: 25px;
      left: 30px;
      font-size: 16px;
      color: #fff;
      z-index: 1000;
      font-weight: 600; }

.about {
  margin-top: 70px;
  margin-bottom: 50px; }
  .about_col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative; }
  .about_article {
    width: 80%;
    border: 1px solid #f1f1f1;
    padding: 60px 40px 45px 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 15px rgba(241, 241, 241, 0.5);
    box-shadow: 0 0 15px rgba(241, 241, 241, 0.5); }
    .about_article-title {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 30px; }
    .about_article-text {
      font-size: 13px;
      color: #393939;
      line-height: 2;
      margin-bottom: 70px;
      width: 70%; }
    .about_article-col {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 70%; }
    .about_article-buttom {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .about_article-buttom-img {
        margin-right: 20px; }
      .about_article-buttom-number {
        font-size: 16px;
        margin-bottom: 5px; }
      .about_article-buttom-link {
        font-size: 13px;
        color: #db1818;
        text-decoration: underline !important; }
    .about_article-link {
      padding: 20px 60px;
      font-size: 13px;
      font-weight: 600;
      color: #fff;
      background: #2fba0a;
      -webkit-box-shadow: 0 0 10px rgba(47, 186, 10, 0.5);
      box-shadow: 0 0 10px rgba(47, 186, 10, 0.5); }
      .about_article-link:hover {
        -webkit-box-shadow: none;
        box-shadow: none; }
  .about_video {
    width: 40%;
    background: red;
    position: absolute;
    top: 50%;
    height: 230px;
    right: 0;
    margin-top: -115px; }

.kod {
  height: 300px; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ebebeb; }
  .footer_bg {
    background: #fff; }
  .footer_col {
    margin-right: 5px; }
  .footer_title {
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 10px;
    font-weight: bold; }
  .footer_text {
    font-size: 13px;
    color: #737373;
    margin-bottom: 20px; }
  .footer_link {
    display: inline-block;
    padding: 20px 40px;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    font-weight: bold;
    background: #2fba0a;
    -webkit-box-shadow: 0 0 10px rgba(47, 186, 10, 0.5);
    box-shadow: 0 0 10px rgba(47, 186, 10, 0.5); }
    .footer_link:hover {
      -webkit-box-shadow: none;
      box-shadow: none; }
  .footer_nav-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px; }
  .footer_nav-link {
    display: inline-block;
    font-size: 13px;
    color: #5e5e5e;
    margin: 5px 0; }
  .footer_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 35px; }
    .footer_block-img {
      margin-top: 5px;
      margin-right: 25px; }
    .footer_block-title {
      font-size: 13px;
      color: #2fba0a;
      margin-bottom: 12px; }
    .footer_block-number {
      display: block;
      font-size: 18px;
      margin-bottom: 7px;
      color: #242424; }
    .footer_block-text {
      font-size: 18px;
      font-weight: bold; }
  .footer_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer_social-ins {
      background: url(../image/social_img1.png) no-repeat center; }
      .footer_social-ins:hover {
        background: url(../image/social_img1-hover.png) no-repeat center; }
    .footer_social-fc {
      background: url(../image/social_img2.png) no-repeat center; }
      .footer_social-fc:hover {
        background: url(../image/social_img2-hover.png) no-repeat center; }
    .footer_social-te {
      background: url(../image/social_img3.png) no-repeat center; }
      .footer_social-te:hover {
        background: url(../image/social_img3-hover.png) no-repeat center; }
    .footer_social-tw {
      background: url(../image/social_img4.png) no-repeat center; }
      .footer_social-tw:hover {
        background: url(../image/social_img4-hover.png) no-repeat center; }
    .footer_social-link {
      width: 25px;
      height: 25px;
      margin-right: 25px; }
  .footer_bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 40px 0; }
    .footer_bottom-title {
      font-size: 13px;
      color: #5e5e5e;
      line-height: 1.5;
      width: 40%; }
    .footer_bottom-pay {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .footer_bottom-img {
      margin-right: 25px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0; }
  .bottom_bg {
    background: #242424; }
  .bottom_copy {
    font-size: 12px;
    color: #fff; }
  .bottom_company {
    font-size: 12px;
    color: #fff; }
    .bottom_company-title {
      font-weight: bold;
      color: #db1818; }

/* Акции карточка */
